
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Postcard</title>
<link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <header>
      <h2>Add new postcard</h2>
    </header>
    <div class = "new-wrapper">
    <form action = "/new/" method = "post">
      <p>
        <label for 'name'>Name: </label>
        <input type = "text" id = "name" name = "name" required />
      </p>
      <p>
        <label for 'whoFrom'>From: </label>
        <input type = "text" id = "whoFrom" name = "whoFrom"/>
      </p>
      <p>
        <label for "country">Country: </label>
        <input type = "text" id = "country" name = "country">
        <label for="state">State: </label>
        <input type="text" id="state" name="state">
      </p>
      <p>
        <button type = "submit">Add Postcard</button>
      </p>
    </form>
  </div>

  </body>
</html>
