
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://use.fontawesome.com/ffa41e3f0d.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div class = "nav">
        <div><p><a href = "http://localhost:3000/">
          <i class="fa fa-home" aria-hidden="true"></i> Home</a></p></div>
        <div><p><a href = "/new/">
          <i class="fa fa-plus" aria-hidden="true"></i> New</a></p></div>
          <div><p><a href = "/map/">
          <i class="fa fa-map-marker" aria-hidden="true"></i> Map</a></p></div>
        </div>

    <div class = "new-box-wrapper">
      <h2>Add a New Postcard to Your Collection</h2>

    <form action = "/new/" method = "post">
      <p>
        <input type = "text" id = "name" name = "name" placeholder="name:"required />
      </p>
      <p>
        <input type = "text" id = "whoFrom" name = "whoFrom" placeholder="from:"/>
      </p>
      <p>
        <input type="text" id="state" name="state" placeholder="state:">
      </p>
      <p>
        <input type = "text" id = "country" name = "country:" placeholder="country">
      </p>
      <p>
        <button type = "submit">submit</button>
      </p>
    </form>
  </div>

  </body>
</html>
