.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box{
  border: 1px solid black;
  margin: 5px;
  width: 300px;
  height: 300px;
  text-align: center;
  padding: 15px;
}

.header{
  text-align: center;
}

h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 55px;
  text-transform: uppercase;
}

h2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}

p{
  font-family: 'Open Sans', sans-serif;

}
