body{
  margin: 0;
  background-image: url("abstract.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: white;
  color: #565656;
  border-bottom: solid 1px #B6F0F7;
}

.nav a{
  color:#565656;
  text-decoration: none;
}

.nav a:hover{
  border-bottom: solid 3px #B6F0F7;
}

.footer {
  background-color: white;
  margin-top: 10px;
  color: #565656;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

}

.box{
  border: 2px solid #B6F0F7;
  margin: 15px;
  width: 250px;
  height: 300px;
  text-align: center;
  padding: 15px;
  background-color: white;
}

.single-box{
  border: 1px solid #B6F0F7;
  width: 350px;
  height: 400px;
  text-align: center;
  padding: 15px;
  background-color: white;
}

.new-box-wrapper{
  text-align: center;
  margin-top: 25vh;
}

.new-box-wrapper input {
  width: 250px;
}

.new-box-wrapper button {
  border: none;
  background-color: transparent;
  color: #565656;
}

.new-box-wrapper button:hover{
  border-bottom: solid 3px #B6F0F7;
}

.header{
  text-align: center;
}

h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  color: #565656;
  margin: 60px 0;
}

h2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  color: #565656;
  text-align: center;
}

h2 a{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  color: #565656;
  text-align: center;
  text-decoration: none;
}

h2 a:hover{
  color: #B6F0F7;
}

p{
  font-family: 'Open Sans', sans-serif;
  color: #565656;
  line-height: 10px;
  padding: 0;

}
